{{#each rounds}}

  <h3>Round number {{number}} - {{matches.length}} matches {{#if sittingOut}}- {{sittingOut.first_name}} {{sittingOut.last_name}} sitting out{{/if}}</h3>  
  
  <ul>
  {{#each matches}}
    <li class="match" data-type="{{matchType}}">
      <h4>{{rank}}</h4>
      {{subject.first_name}} {{subject.last_name}} 
      - {{matchScore}} -
      {{suitor.first_name}} {{suitor.last_name}}
    </li>
  {{/each}}
  </ul>

{{/each}}