Welcome, {{{username}}}. Setup the survey here!

<form action="/admin/setup" method="post" class="marketing admin">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Introduction</h3>
        </div>
        <div class="panel-body">
          <h4>Title</h4>
          <p>
            <input type="text" name="introduction[title]" class="form-control" value="{{title}}">
          </p>
          <h4>Text</h4>
          <p>
            <textarea name="introduction[text]" class="form-control">{{text}}</textarea>
          </p>
        </div>
        
      </div>

      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Dating Questions</h3>
        </div>
        <div class="panel-body" id="questions">
          {{#each questions}}
            <div class="question" data-id="{{@index}}" data-questionid="{{id}}">
              <div class="input-group">
                <strong><input type="text" name="questions[{{@index}}][text]" class="form-control" value="{{text}}"></strong>
                <span class="input-group-btn">
                  <button class="btn btn-danger delete-question" type="button">Delete Question</button>
                </span>
              </div>
              <input type="hidden" name="questions[{{@index}}][question_id]" value="{{id}}">
                
              {{#if multiplechoice}}
                <input type="hidden" name="questions[{{@index}}][type]" value="multiplechoice">
                <div class="choices">
                  {{#each choices}}
                  <div class="choice input-group input-group-sm">
                    <span class="input-group-addon">
                      <input type="radio" class="disabled">
                    </span>
                    <input type="text" name="questions[{{@../index}}][choices][]" class="form-control" value="{{this}}">
                    <span class="input-group-btn">\
                      <button class="btn btn-warning remove-choice" type="button">Remove Choice</button>
                    </span>
                  </div>
                  {{/each}}
                </div>
                <div class="input-group input-group-sm">
                  <button type="button" class="add-choice btn btn-info btn-xs">Add Choice</button>
                </div>
              {{/if}}

              {{#if freeform}}
                <input type="hidden" name="questions[{{@index}}][type]" value="freeform">
                <textarea class="form-control disabled"></textarea>
              {{/if}}
            </div>
          {{/each}}
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary btn-sm" type="button" id="add-multiple-choice">Add Multiple Choice Question</button>
          <button class="btn btn-primary btn-sm" type="button" id="add-free-form">Add Free Form Question</button>
        </div>
      </div>
        
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-right">
      <input type="submit" class="btn btn-lg btn-success" value="Save Survey">
    </div>
  </div>

</form>

<script>
  $(function(){
    var $questions = $('#questions');

    $('#add-free-form').on('click', addFreeForm);
    $('#add-multiple-choice').on('click', addMultipleChoice);
    $(document).on('click', '.delete-question', deleteQuestion);
    $(document).on('click', '.remove-choice', removeChoice);
    $(document).on('click', '.add-choice', addChoice);

    function addChoice(e) {
      var $question = $(e.target).closest('.question');
      var questionId = $question.data('id');
      $question.find('.choices').append('\
<div class="choice input-group input-group-sm">\
  <span class="input-group-addon ">\
    <input type="radio" class="disabled">\
  </span>\
  <input type="text" name="questions['+questionId+'][choices][]" class="form-control" value="Red">\
  <span class="input-group-btn">\
    <button class="btn btn-warning remove-choice" type="button">Remove Choice</button>\
  </span>\
</div>');
    }

    function removeChoice(e) {
      var $choice = $(e.target).closest('.choice');

      var $undo = $('<div class="choice"><button type="button" class="btn btn-success btn-xs">Undo</button></div>');
      $undo.on('click', function(){ $undo.replaceWith($choice); });
      
      $choice.replaceWith($undo);
    }

    function deleteQuestion(e) {
      var $question = $(e.target).closest('.question');
      var questionId = $question.data().questionid || '';

      var $undo = $('<div class="question"><input type="hidden" name="deletes[]" value="'+questionId+'"><button type="button" class="btn btn-success btn-xs">Undo</button></div>');
      $undo.on('click', function(){ $undo.replaceWith($question); });
      $question.replaceWith($undo);
    }

    function addFreeForm(e){
      var id = $questions.find('.question').length //TODO, get max+1 instead
      $questions.append('\
<div class="question" data-id="'+id+'">\
  <div class="input-group">\
    <strong><input type="text" name="questions['+id+'][text]" class="form-control" value="What\'s your best joke?"></strong>\
    <span class="input-group-btn">\
      <button class="btn btn-danger delete-question" type="button">Delete Question</button>\
    </span>\
  </div>\
  <input type="hidden" name="questions['+id+'][type]" value="freeform">\
  <textarea class="form-control disabled"></textarea>\
</div>');
    }

    function addMultipleChoice(e){
      var id = $questions.find('.question').length
      $questions.append('\
<div class="question" data-id="'+id+'">\
  <div class="input-group">\
    <strong><input type="text" name="questions['+id+'][text]" class="form-control" value="What is your favorite color?"></strong>\
    <span class="input-group-btn">\
      <button class="btn btn-danger delete-question" type="button">Delete Question</button>\
    </span>\
  </div>\
  <input type="hidden" name="questions['+id+'][type]" value="multiplechoice">\
  <div class="choices">\
  </div>\
  <div class="input-group input-group-sm">\
    <button type="button" class="add-choice btn btn-info btn-xs">Add Choice</button>\
  </div>\
</div>');
    }
  });

</script>